*~
*#*
*.pyc
*.pyo
*.egg-info
/.DS_Store
/.mr.developer.cfg
/.installed.cfg
/.pydevproject
/.project
/.settings
buildout.cfg
/dist/
/parts/
/bin/
/eggs/
/downloads/
/develop-eggs/
/src/packages/
/var/
/devsrc/
/docs/
/sphinx-bootstrap-theme/
/docs-source/_themes/bootstrap-dev/
