*~
*#*
*.pyc
*.pyo
*.egg-info
/.DS_Store
/.mr.developer.cfg
/.installed.cfg
/.pydevproject
/.pydevproject.bak
/.project
/.settings
/pip-selfcheck.json
/buildout.cfg
/env/
/dist/
/parts/
/bin/
/eggs/
/downloads/
/develop-eggs/
/var/
/devsrc/
/docs/
/include/
/lib/
/local/
/coverage/
