*.egg-info
*.pyc
*.pyo
*#*
*~
/.DS_Store
/.installed.cfg
/.mr.developer.cfg
/.mxmake/
/.project
/.pydevproject
/.pydevproject.bak
/.settings
/.vscode
/bin/
/build/
/buildout.cfg
/constraints-mxdev.txt
/coverage/
/develop-eggs/
/devsrc/
/dist/
/downloads/
/eggs/
/env/
/include/
/lib/
/lib64
/local/
/node_modules/
/package-lock.json
/package.json
/parts/
/pip-selfcheck.json
/pyvenv.cfg
/share/
/sources/
/var/
/venv/
